
.post-card{
    display: flex;
    font-family : 'Roboto', sans-serif;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #000;
    
}
.post-card-title {
    font-size: 20px;
    font-weight: 300;
    margin-right: 40px;
}